body{
    display: flex;
    justify-content: center;
    background-image: url("fond.jpg");
}

img{
    width: auto;
    height: 100%;
}

header{
    display: flex;
    background-image: url("header.jpg");
}

.logo{
flex: 10em;
height: 50px;
}

video{
    height: 100%;
    width: auto;
}

.titre{
    display: flex;
    background: linear-gradient(rgb(0, 102, 255), rgba(0, 132, 255, 0.404));
    justify-content: center;
    
}

h1{
    margin: 0;
}

.headtitre{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 2em;
}

h3{
    font-weight: bold;
}
nav{
    display: flex;
    flex-flow: row;
    background-image: url("fond1.png");
    justify-content: center;
}

.btnMenu{
    display: flex;
    justify-content: center;
    margin: 0.5em;
    background: linear-gradient(#1f58d1ef, #0051ff46);
    border: 1px solid #0051ff9d;
    border-radius: 0.3em;
    padding: 0.2em;
    color: #fff;
    position: relative;
}

.menu{
   display: none; 
   position: absolute;
    flex-direction: column;
    background: linear-gradient(#1f58d1ef, #0051ffb6);
    border: 1px solid #0051ff9d;
    border-radius: 0.5em;
    margin-top: 1.5em;
    padding: 0.5em;
    white-space: nowrap;
}

.menu>p:hover{
    background-color: rgb(25, 73, 161);
}

.btnMenu:hover .menu{
    display: flex;
}

.row{
    display: flex;
    flex-flow: row;
}

.imagerecette{

    height: 8em;
}
.page{
    width: 80%;
    background-color: #fff;
}

.conten{
    margin: 3em;
}

.haut{
 display: flex;
 flex-flow: row;
}

.video{
height: 35vh;
}
.recette{
    flex-direction: column;
    border-top: 1em;
    height: 35vh;
    overflow-y: scroll;
    margin-left: 3em;
}

h3{
    text-align: center;
}

footer{
    display: flex;
    flex-flow: row;
    background-image: url("fond1.png");
}

.Footlogo{
    display: flex;
    flex: 10em;
    height: 4em;
   justify-content: flex-end;
 }

.prow{
    display: flex;
    flex-direction: row;
}

aside{
    display: flex;
    border: 1px solid blue;
    border-radius: 1em;
    justify-content: center;
    align-items: center;
    padding: 0.5em;
}

@media screen and (max-width: 800px) {
.page{
    width: 95%;
}

/*change la mise en page de l'image de recette*/
.row{
flex-flow: column;
}
}