body{
    display: flex;
    background-color: #495954;
    margin: 0px;
    justify-content: center;
    flex-flow: column;
}

div{
    border: 1px solid black;
}
header{
    display: flex;
    background-color: #004BD8;
    height: 5em;
}

.destination .deco{
    display: flex;
    flex-flow: column;
}


footer{
    border: solid 2px black;
    display: flex;
    flex-flow: column;
    justify-content: center;
}

footer{
    display: flex;
    justify-content: center;
}